name: Docker CI

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  docker-ci:
    
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Makefile Init
        #working-directory: ./docker
        run: make init
      - name: Makefile Up
        run: make up
      - name: Front linter test
        working-directory: /next
        run: npm run lint --if-present
        #run: sudo netstat -pna | grep 8083
