name: Docker CI

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  docker-ci:
    
    runs-on: latest-ubuntu
    
    steps:
      - uses: actions/checkout@v3
      - name: Docker Init
        run: docker init
  
