name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  work_path: ./laravel

jobs:
  laravel-tests:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        php-version: [7.x, 8.x]

    steps:
    - name: Run echo PATH
      run: echo ${{env.work_path}} >> $GITHUB_PATH
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: ${{ matrix.php-version }}
    - name: Print dir content
      run: ls
    - name: Print dir name
      run: pwd
    - name: Parent dir transition
      run: cd ../
    - name: Print parent dir name
      run: pwd
    - name: Print dir content
      run: ls
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      #uses: php-actions/composer@v6
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit
